[submodule "deps/busybox"]
	path = deps/busybox
	url = https://git.busybox.net/busybox
[submodule "deps/linux"]
	path = deps/linux
	url = https://github.com/torvalds/linux
[submodule "deps/u-boot"]
	path = deps/u-boot
	url = https://github.com/u-boot/u-boot
[submodule "deps/qemu"]
	path = deps/qemu
	url = https://gitlab.com/qemu-project/qemu
[submodule "deps/uboot-d1"]
	path = deps/uboot-d1
	url = https://github.com/smaeul/u-boot
[submodule "deps/opensbi"]
	path = deps/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "deps/rtl8723ds"]
	path = deps/rtl8723ds
	url = https://github.com/lwfinger/rtl8723ds
