[submodule "deps/busybox"]
	path = deps/busybox
	url = https://git.busybox.net/busybox
[submodule "deps/linux"]
	path = deps/linux
	url = https://github.com/torvalds/linux
[submodule "deps/u-boot"]
	path = deps/u-boot
	url = https://github.com/u-boot/u-boot
[submodule "deps/qemu"]
	path = deps/qemu
	url = https://github.com/qemu/qemu
[submodule "deps/uboot-d1"]
	path = deps/uboot-d1
	url = git@github.com:smaeul/u-boot.git
[submodule "deps/opensbi"]
	path = deps/opensbi
	url = git@github.com:riscv-software-src/opensbi.git
[submodule "deps/rtl8723ds"]
	path = deps/rtl8723ds
	url = git@github.com:lwfinger/rtl8723ds.git
